<%= form_for @book do |b| %>
  <p>
    <%= b.label :name %>
    <%= b.text_field :name %>
  </p>
  <p>
    <%= b.label :author %>
    <%= b.text_field :author %>
  </p>
  <p>
    <%= b.label :isbn_no %>
    <%= b.text_field :isbn_no %>
  </p>
  <p>
    <%= b.label :description %>
    <%= b.text_field :description %>
  </p>
  <p>
    <%= b.submit "Save", class: "btn btn-default btn-sm"%>
  </p>
<% end %>
