<p>Here are some details about your book:</p>


<p><span>Name</span>: <%= @book.name %></p>
<p><span>Author</span>: <%= @book.author %></p>
<p><span>ISBN</span>: <%= @book.isbn_no %></p>
<p><span>Description</span>: <%= @book.description %></p>


<p><%= form_tag edit_path, method: "get" do %>
  <%= submit_tag "Edit Book", class: "btn btn-default btn-sm" %>
<% end %></p>

<p><%= form_tag book_path, method: "delete" do %>
  <%= submit_tag "Delete Book", class: "btn btn-default btn-sm" %>
<% end %></p>
