<p>
  <%= r.label :name %>
  <%= r.text_field :name %>
</p>
<p>
  <%= r.label :due_date %>
  <%= r.date_field :due_date %>
</p>
<p>
  <%= r.label :return_date %>
  <%= r.date_field :return_date %>
</p>

<%= r.hidden_field :book_id, value: @book.id %>

<p>
  <%= r.submit "Save", class: "btn btn-default btn-sm" %>
</p>
